html, body {
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;        
}
body {
    background-color: azure;    
    display: grid;            
    grid-template-columns: minmax(10rem, 20rem) 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}
.panel {
    border: 1px solid blue;
    text-align: center;
}
.panel-top {
   grid-column: 1 / span 5;   
}
.panel-left {
    grid-column: 1 / 1 ;  
    grid-row: 2 / span 5;
}
.panel-center {
    grid-column: 2 / span 5;  
}
.panel-bottom {
    grid-column: 2 / span 5
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 10rem 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    }    
    .panel-left {
        display: none;
    }
}

@media (max-width: 640px) {
    body {
        grid-template-columns: 0 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    }    
    .panel-left {
        display: none;
    }
}

